.DS_Store

# local files
qqwry.dat
GeoLite2-City.mmdb
*.db
*.db-shm
*.db-wal

# local config
config.yaml*

# binary
/revsuit

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## node
/package.json
package-lock.json
node_modules/

## frontend dist
dist/

## received files
revsuit-files
