.DS_Store

# local files
qqwry.dat
revsuit.db
revsuit.db-shm
revsuit.db-wal

# local config
config.yaml*

# binary
revsuit

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
