version: 1.5
addr: :10000
token:
domains: []
external_ip:                        # You need to make sure that your target can access the server through this ip.
admin_path_prefix: "/revsuit"
database: revsuit.db
log_level: info
check_upgrade: true

ip_location_database:
  database: "qqwry"                 # qqwry or geoip.
  geo_license_key: ""               # Mandatory field, if you choose to use GeoIP.

http:
  ip_header:
dns:
  enable: true
  addr: :53
rmi:
  enable: true
  addr: :1099
ldap:
  enable: true
  addr: :1389
mysql:
  enable: true
  addr: :3306
  version_string: 10.4.13-MariaDB-log
ftp:
  enable: true
  addr: :21
  pasv_port: 2020
notice:
  dingtalk: https://oapi.dingtalk.com/robot/send?access_token={token}
  lark: https://open.feishu.cn/open-apis/bot/v2/hook/{token}
  weixin: https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key={key}
  slack: https://hooks.slack.com/services/{id}/{token}
