name: Go
on:
  push:
    branches: [ master ]
    paths:
      - '**.go'
      - 'go.mod'
      - '.github/workflows/go.yml'
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - '.github/workflows/go.yml'
env:
  GOPROXY: "https://proxy.golang.org"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
#     Create frontend `dist` folder.
#
#     - name: Create frontend dist folder
#       run: mkdir frontend/dist/ && touch frontend/dist/1
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v2.4.0
        with:
          version: v1.37.0
          args: --timeout=30m
